@media (max-width: 35.49em) {
    .paperSetting{
        max-width: 87vw !important;
        height: 27rem !important;
        max-height: 27rem !important;
        color: #bf0413 !important;
        border-radius: 50px !important;
        margin: 25% 0 0 7% !important;
        text-transform: uppercase !important;
    }
    
    .landingCardSpace{
        margin: 6rem 0 !important;
        padding-bottom: 4rem !important;
    }
    
    .buttonGroup{
        background-color: #bf0413 !important;
        color: white !important;
        font-weight: bold !important;
        margin: 2px !important;
        width: 75px !important;
    }
    
    .groupSpace{
        margin: 1.5rem 0 1.3rem 2rem !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    
    .startButton{
        color: white !important;
        background-color: #bf0413 !important;
        font-weight: bold !important;
        border-radius: 16px !important;
        margin: 0 0 0 -1.5rem !important;
        width: 10rem !important;
    }
    
    .disabledButton{
        color: #bf0413 !important;
        background-color: white !important;
        font-weight: bold !important;
        margin: 2px !important;
        width: 75px !important;
    }
}

/* Small */
@media (min-width: 35.5em) {
    .paperSetting{
        max-width: 84vw !important;
        height: 25rem !important;
        max-height: 25rem !important;
        color: #bf0413 !important;
        border-radius: 50px !important;
        margin: 24% 0 0 8% !important;
        text-transform: uppercase !important;
    }
    
    .landingCardSpace{
        margin: 7rem 0 !important;
        padding-bottom: 4rem !important;
    }
    
    .buttonGroup{
        background-color: #bf0413 !important;
        color: white !important;
        font-weight: bold !important;
        margin: 1px  !important;
    }
    
    .groupSpace{
        margin: 3rem 0 1.3rem 0 !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    
    .startButton{
        color: white !important;
        background-color: #bf0413 !important;
        font-weight: bold !important;
        border-radius: 16px !important;
        margin: 3.5rem 0 0 .5rem !important;
        width: 200px !important;
    }
    
    .disabledButton{
        color: #bf0413 !important;
        background-color: white !important;
        font-weight: bold !important;
        margin: 1px !important;
    }
 }
  
/* Medium */
@media (min-width: 48em) { 
    .paperSetting{
        max-width: 55vw !important;
        height: 50vh !important;
        max-height: 50vh !important;
        color: #bf0413 !important;
        border-radius: 50px !important;
        margin: 18% 0 0 24% !important;
        text-transform: uppercase !important;
    }
    
    .landingCardSpace{
        margin: 7rem 0 !important;
        padding-bottom: 4rem !important;
    }
    
    .shift{
        padding-left: 2rem !important;
    }
    
    .buttonGroup{
        background-color: #bf0413 !important;
        color: white !important;
        font-weight: bold !important;
        margin: 1px !important;
    }
    
    .groupSpace{
        margin: 3rem 0 0 0 !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    
    .startButton{
        color: white !important;
        background-color: #bf0413 !important;
        font-weight: bold !important;
        border-radius: 16px !important;
        margin: 4rem 0 0 -1.75rem !important;
        width: 200px !important;
    }
    
    .disabledButton{
        color: #bf0413 !important;
        background-color: white !important;
        font-weight: bold !important;
        margin: 1px !important;
    }
 }
  
/* Large */
@media (min-width: 64em) { 
    .paperSetting{
        max-width: 55vw !important;
        height: 60vh !important;
        max-height: 60vh !important;
        color: #bf0413 !important;
        border-radius: 50px !important;
        margin: 8% 0 0 24% !important;
        text-transform: uppercase !important;
    }
    
    .landingCardSpace{
        margin: 7rem 0 !important;
        padding-bottom: 4rem !important;
    }
    
    .shift{
        padding-left: 2rem !important;
    }
    
    .buttonGroup{
        background-color: #bf0413 !important;
        color: white !important;
        font-weight: bold !important;
        margin: 1px !important;
    }
    
    .groupSpace{
        margin: 4.5rem 0 1.5rem 0 !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    
    .startButton{
        color: white !important;
        background-color: #bf0413 !important;
        font-weight: bold !important;
        border-radius: 16px !important;
        margin: 4vw 0 0 0 !important;
        width: 200px !important;
    }
    
    .disabledButton{
        color: #bf0413 !important;
        background-color: white !important;
        font-weight: bold !important;
        margin: 1px !important;
    }
 }
  
/* X-Large */
@media (min-width: 80em) { 
    .landingCardSpace{
        margin: 7rem 0 !important;
        padding-bottom: 4rem !important;
    }
    
    .shift{
        padding-left: 2rem !important;
    }
    
    .buttonGroup{
        background-color: #bf0413 !important;
        color: white !important;
        font-weight: bold !important;
        margin: 3px !important;
        width: 80px !important;
        height: 80px !important;
        font-size: 30px !important;
    }
    
    .groupSpace{
        margin: 4.5rem 0 1.5rem 0 !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    
    .startButton{
        color: white !important;
        background-color: #bf0413 !important;
        font-weight: bold !important;
        border-radius: 16px !important;
        margin: 4vw 0 0 2vw !important;
        width: 300px !important;
        height: 100px !important;
        margin-left: 1.5rem !important;
        font-size: 25px !important;
    }

    .disabledButton{
        color: #bf0413 !important;
        background-color: white !important;
        font-weight: bold !important;
        margin: 3px !important;
        width: 80px !important;
        height: 80px !important;
        font-size: 30px !important;
    }
    
 }