@media (max-width: 35.49em) {
    .landingButtons{
        color: white !important;
        background-color: #bf0413 !important;
        font-weight: bold !important;
        border-radius: 16px !important;
        margin: .2rem auto !important;
        width: 150px !important;
    }
    
    .paper{
        max-width: 90vw !important;
        height: 22.5rem !important;
        max-height: 22.5rem !important;
        color: #bf0413 !important;
        border-radius: 50px !important;
        margin: 1% !important;
        text-transform: uppercase !important;
        z-index: 0 !important;
    }
    
    .cardTitle{
        font-weight: 700 !important;
        font-size: 1.5rem !important;
        margin: 3rem 0 0 0 !important;
    }
    
    .cardDescription{
        font-weight: 700 !important;
        font-size: 0.9rem !important;
        margin: 2.5rem !important;
    }
    
    .peepOne{
        max-width: 33% !important;
        margin-top: 13vh !important;
        margin-left: -13vw !important;
        position: absolute !important;
        z-index: 100 !important;
    }
    
    .peepTwo{
        max-width: 29% !important;
        margin-top: 10vh !important;
        margin-left: 60vw !important;
        position: absolute !important;
        z-index: 100 !important;
    }
}

/* Small */
@media (min-width: 35.5em) {
    .landingButtons{
        color: white !important;
        background-color: #bf0413 !important;
        font-weight: bold !important;
        border-radius: 16px !important;
        margin-top: -3rem !important;
    }
    
    .rightButton{
        margin-left: 13% !important;
    }
    
    .paper{
        max-width: 80vw !important;
        height: 22rem !important;
        max-height: 22rem !important;
        color: #bf0413 !important;
        border-radius: 50px !important;
        margin: 2% !important;
        text-transform: uppercase !important;
        z-index: 0 !important;
    }
    
    .cardTitle{
        font-weight: 700 !important;
        font-size: 2rem !important;
        margin: 3rem 0 0 0 !important;
    }
    
    .cardDescription{
        font-weight: 700 !important;
        font-size: 1rem !important;
        margin: 5rem !important;
    }
    
    .peepOne{
        max-width: 28% !important;
        margin-top: 15vh !important;
        margin-left: -13vw !important;
        position: absolute !important;
        z-index: 100 !important;
    }
    
    .peepTwo{
        max-width: 23% !important;
        margin-top: 13vh !important;
        margin-left: 62vw !important;
        position: absolute !important;
        z-index: 100 !important;
    }
}

/* Medium */
@media (min-width: 48em) {
    .landingButtons{
        color: white !important;
        background-color: #bf0413 !important;
        font-weight: bold !important;
        border-radius: 16px !important;
        margin-top: -3rem !important;
    }
    
    .rightButton{
        margin-left: 22% !important;
    }
    
    .paper{
        max-width: 80vw !important;
        height: 24rem !important;
        max-height: 24rem !important;
        color: #bf0413 !important;
        border-radius: 50px !important;
        margin: 2% !important;
        text-transform: uppercase !important;
        z-index: 0 !important;
    }
    
    .cardTitle{
        font-weight: 700 !important;
        font-size: 2.5rem !important;
        margin: 3rem 0 -.5rem 0 !important;
    }
    
    .cardDescription{
        font-weight: 700 !important;
        font-size: 1.25rem !important;
        margin: 5rem !important;
    }
    
    .peepOne{
        max-width: 24% !important;
        margin-top: 12vh !important;
        margin-left: -11vw !important;
        position: absolute !important;
        z-index: 100 !important;
    }
    
    .peepTwo{
        max-width: 20% !important;
        margin-top: 10vh !important;
        margin-left: 62vw !important;
        position: absolute !important;
        z-index: 100 !important;
    }
}

@media (min-width: 960px) and (max-width: 63.99em){
    .peepTwo{
        max-width: 20% !important;
        margin-top: 9vh !important;
        margin-left: 48vw !important;
        position: absolute !important;
        z-index: 100 !important;
    }
}

/* Large */
@media (min-width: 64em) {
    .landingButtons{
        color: white !important;
        background-color: #bf0413 !important;
        font-weight: bold !important;
        border-radius: 16px !important;
        margin-top: 1rem !important;
        margin-left: 1.2rem !important;
    }
    
    .rightButton{
        margin-left: 15% !important;
    }
    
    .paper{
        max-width: 80vw !important;
        height: 30rem !important;
        max-height: 30rem !important;
        color: #bf0413 !important;
        border-radius: 50px !important;
        margin: 2% !important;
        text-transform: uppercase !important;
        z-index: 0 !important;
    }
    
    .cardTitle{
        font-weight: 700 !important;
        font-size: 50px !important;
        margin: 3rem 0 -.5rem 0 !important;
    }
    
    .cardDescription{
        font-weight: 700 !important;
        font-size: 25px !important;
        margin: 5rem !important;
    }
    
    .peepOne{
        max-width: 20% !important;
        margin-top: 20vh !important;
        margin-left: -10vw !important;
        position: absolute !important;
        z-index: 100 !important;
    }
    
    .peepTwo{
        max-width: 16% !important;
        margin-top: 17vh !important;
        margin-left: 50vw !important;
        position: absolute !important;
        z-index: 100 !important;
    }
}

@media (min-width: 80em){
    .peepOne{
        max-width: 18% !important;
        margin-top: 14vh !important;
        margin-left: -10vw !important;
        position: absolute !important;
        z-index: 100 !important;
    }
    .peepTwo{
        max-width: 15% !important;
        margin-top: 9vh !important;
        margin-left: 40rem !important;
        position: absolute !important;
        z-index: 100 !important;
    }
}